![imagen](./img/python.jpg)

# Python Colecciones

Las colecciones son una manera de agrupar varios elementos. En otros notebooks vimos cómo funcionan las listas, que es la colección más usada, pero se trata solo de la punta del iceberg. Con Python tenemos varias manera de almacenar conjuntos de datos, dependiendo del tipo de dato, finalidad, tipo de acceso y rendimiento.

1. [Listas](#1.-Listas)
2. [Tuplas](#2.-Tuplas)
3. [Diccionarios](#3.-Diccionarios)
4. [Sets](#4.-Sets)
5. [Conversiones entre colecciones](#5.-Conversiones-entre-colecciones)
6. [Comprensión de listas](#6.-Comprensión-de-listas)
7. [Resumen](#7.-Resumen)

## 1. Listas
Ya conocemos bastante las listas. Veamos un repaso de lo que podemos hacer con ellas, así como algunas funcionalidades nuevas

In [38]:
# Listas de números, strings, booleanos, con elementos repetidos, listas anidadas...
nums = [6, 2, 8, 3, 4, 5, 5]
months = ["Enero", "Febrero", "Marzo"]
mix = [5, 7, "Abril", True, None, ["Blanco", "Negro"]]

# Longitud de la lista
print(len(nums))

# Indexación
print(months[1])
print(months[len(months)-1]) #Para acceder al último elemento

7
Febrero
Marzo

### Acceso
Entre corchetes introducimos el indice del elemento al que queremos acceder

In [39]:
print(months[0])
print(months[-1])

Enero
Marzo

Si planteamos el problema al revés. Tenemos los valores de la lista y lo que queremos es obtener el índice de esos valores dentro de la lista

In [40]:
months.index("Marzo")

2

**Slicing**: usamos slicing para acceder a varios elementos seguidos de la lista

In [41]:
degrees = [22, 34, 15, 26, 18, 22]

print(degrees[2:4]) # Nos devuelve sublistas
print(degrees[1:5])
print(degrees[1:]) # Hasta el final
print(degrees[-2:])
print(degrees[2])
print(degrees[2:3])
print(type(degrees[2:3]))

[15, 26]
[34, 15, 26, 18]
[34, 15, 26, 18, 22]
[18, 22]
15
[15]
<class 'list'>

In [42]:
degrees = [22, 34, 15, 26, 18, 20]
print(degrees)

[22, 34, 15, 26, 18, 20]

In [43]:
degrees[-1:-5:-3]

[20, 15]

In [44]:
segunda_lista = degrees[2:4]
print(degrees)

segunda_lista[0] = 1
print(segunda_lista)

print(degrees)

[22, 34, 15, 26, 18, 20]
[1, 26]
[22, 34, 15, 26, 18, 20]

### Modificar elementos
Las listas son mutables, por lo que podremos modificarlas

In [45]:
print(months)

months[2] = "Abril"
print(months)

['Enero', 'Febrero', 'Marzo']
['Enero', 'Febrero', 'Abril']

### Añadir elementos
Se añade al final de la lista si usamos `append`, o si queremos en un lugar concreto, mediante `insert`

In [46]:
motos = ['honda', 'yamaha', 'suzuki']
print(motos)

motos.append('ducati')
print(motos)

motos.insert(2, 'kawasaki')
print(motos)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'kawasaki', 'suzuki', 'ducati']

In [47]:
motos = []

motos.append('ducati')
print(motos)

['ducati']

### Eliminar elementos
Para eliminar elementos se usar `remove`. Si no existe, da error, así que cuidado con esta sentencia.

En ocasiones resulta útil quedarnos con el elemento eliminado. Para ello usamos `pop()`, que elimina el elemento que le indiquemos, y además devuelve ese elemento por lo que podremos guardarlo en una variable para usarlo después.

In [48]:
cars = ['VW', 'Seat', 'BMW', 'VW']
print(cars)

print(cars.remove('VW'))
print(cars)
# print(cars.remove('VW'))
# print(cars)

['VW', 'Seat', 'BMW', 'VW']
None
['Seat', 'BMW', 'VW']

In [49]:
cars_removed = []
cars_removed.append(cars.pop(1))
print(cars_removed)
print(cars)

['BMW']
['Seat', 'VW']

In [50]:
print(cars.pop(1))
print(cars)

VW
['Seat']

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES remove</h3>
         
 </td></tr>
</table>

In [51]:
cars = ['VW', 'Seat', 'BMW', 'VW']
cars.remove("Audi")

ValueError: list.remove(x): x not in list

### Métodos: ordenar, tamaño, invertir orden, ocurrencia
En este apartado veremos los métodos más útiles, pero podrás consultar el resto en [este enlace](https://www.w3schools.com/python/python_ref_list.asp)

In [25]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees)
print(sorted(degrees)) # Te la da ordenada pero no modifica la lista
print(degrees)

[22, 34, 15, 26, 18, 22]
[15, 18, 22, 22, 26, 34]
[22, 34, 15, 26, 18, 22]

In [17]:
degrees.sort() # Esta te la modifica
degrees

[15, 18, 20, 22, 26, 34]

In [26]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees)

# Ordenar
print(sorted(degrees))
print(degrees)
print(degrees.sort())
print(degrees)

print(degrees.reverse())
print(degrees)

degrees.count(22)

[22, 34, 15, 26, 18, 22]
[15, 18, 22, 22, 26, 34]
[22, 34, 15, 26, 18, 22]
None
[15, 18, 22, 22, 26, 34]
None
[34, 26, 22, 22, 18, 15]

2

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES indice</h3>
         
 </td></tr>
</table>

Mucho cuidado cuando accedemos a los elementos de la lista. Es un error muy habitual acceder a un índice que no existe en la lista.

Si estamos accediendo al ultimo elemento, en vez de poner el numero de su indice, poner mejor `-1`, y asi evitamos errores

Si tenemos este tipo de errores y no sabemos resolverlos, lo mejor es imprimir la longitud de la lista, y todos los elementos.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla y su índice, mediante un bucle</li>
    <li>Ordena alfabéticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Elimínalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final sí puede. Añádelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [28]:
lista_invitados = ["Marta", "Juan", "Antonio"]

for i,n in enumerate(lista_invitados):
    print(i,n)

0 Marta
1 Juan
2 Antonio

In [29]:
print(sorted(lista_invitados))

['Antonio', 'Juan', 'Marta']

In [31]:
lista_invitados.sort()
print(lista_invitados)

['Antonio', 'Juan', 'Marta']

In [34]:
lista_invitados[0]

'Antonio'

In [35]:
lista_invitados.remove("Antonio")
print(lista_invitados)

['Juan', 'Marta']

In [41]:
int(len(lista_invitados)/2)

1

In [45]:
lista_invitados.insert(len(lista_invitados)//2, "Jorge")
print(lista_invitados)

['Juan', 'Javier', 'Jorge', 'Laura', 'Marta']

## 2. Tuplas
Muy similares a las listas. Si en Notebooks anteriores definíamos a las listas como ordenadas y mutables, las tuplas son ordenadas e inmutables.

* **Inmutables**: una vez creada la tupla con sus elementos iniciales, no se puede modificar
* **Ordenadas**: podemos acceder a sus elementos a través del índice y reordenar la tupla según queramos

Las tuplas se suelen usar para pequeñas colecciones de datos que no van a cambiar a lo largo del programa, como es el caso de las constantes.

Si las listas se construían mediante corchetes `[]`, las tuplas lo hacen con los paréntesis `()`

In [46]:
primera_tupla = (3, "text")
print(primera_tupla)
print(type(primera_tupla))

(3, 'text')
<class 'tuple'>

In [20]:
lista_de_tuplas = [(0,1),(0,2),(0,3)] #una lista de tuplas podría ser coordenadas o un barco en el tablero
lista_de_tuplas

for tupla in lista_de_tuplas:
    print(tupla[0],',', tupla[1])

0 , 1
0 , 2
0 , 3

In [21]:
coordenada = (6,7)
i,j = coordenada
print(i,j)
print(type(tupla))
print(type(i))

6 7
<class 'tuple'>
<class 'int'>

In [22]:
## MANERA MÁS LIMPIA

lista_de_tuplas = [(0,1),(0,2),(0,3)] #una lista de tuplas podría ser coordenadas o un barco en el tablero
lista_de_tuplas

for i,j in lista_de_tuplas: # i, j, k (se suele usar así)
    print(tupla[0],',', tupla[1])

0 , 3
0 , 3
0 , 3

In [ ]:
# pista barco TUPLA
for (recorrer)
barco1 = [(0,1), (0,2), (0,3)]
barco2 = [(1,1), (1,2), (1,3)]

lista_de_barcos = barco1 + barco2

Los paréntesis ya se usan para reordenar operaciones `5 * (3 + 4)`, por lo que hay que añadir una coma cuando definamos una tupla con un único elemento, sino Python lo interpretará como un número.

In [47]:
otra_tupla = (1)
print(otra_tupla)
print(type(otra_tupla))

1
<class 'int'>

In [50]:
otra_tupla = (1,)
print(otra_tupla)
print(type(otra_tupla))

(1,)
<class 'tuple'>

In [51]:
tupla_anid = (1, 2, 3, ("A", "B", "C"))
print(tupla_anid)

print(tupla_anid[0])

for i in tupla_anid:
    print(i)
    
print(tupla_anid[0:2])

print(len(tupla_anid))

(1, 2, 3, ('A', 'B', 'C'))
1
1
2
3
('A', 'B', 'C')
(1, 2)
4

In [53]:
tupla_anid = (1, 2, 3, ("A", "B", "C"))

tupla_anid[3][0]

'A'

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES tuplas</h3>
         
 </td></tr>
</table>

Cuidado que las tuplas son inmutables, y una vez creadas no las podrás modificar después

In [56]:
tupla_error = (1,2,3)
tupla_error[0] = 10

TypeError: 'tuple' object does not support item assignment

In [57]:
# Si queremos añadir elementos, podemos meterlos en otra tupla y sumarlas para que se concatenen
tupla1 = (1,2,3)
tupla2 = (4,5,6)
tupla3 = tupla1 + tupla2

print(tupla3)

(1, 2, 3, 4, 5, 6)

In [73]:
tupla3

(1, 2, 3, 4, 5, 6)

In [58]:
print(sorted(tupla3))

[1, 2, 3, 4, 5, 6]

### Listas y tuplas
Podemos combinar listas y tuplas que no tendremos ningún problema, siempre y cuando respetemos las propiedades de cada tipo de dato.

In [59]:
mi_tupla = ("Naranjas", "Limones")
frutas = ["Manzanas", mi_tupla, "Fresas"]
print(frutas)
print(frutas[0])
print(frutas[-1])
print(frutas[1][0])

['Manzanas', ('Naranjas', 'Limones'), 'Fresas']
Manzanas
Fresas
Naranjas

In [62]:
list(frutas[1])

['Naranjas', 'Limones']

In [60]:
new_var = frutas[1]
new_var = list(new_var)
print(type(new_var))

<class 'list'>

In [63]:
print(type(frutas))
print(frutas)
print(type(frutas[1]))
print((frutas[1]))

<class 'list'>
['Manzanas', ('Naranjas', 'Limones'), 'Fresas']
<class 'tuple'>
('Naranjas', 'Limones')

In [64]:
frutas.append("Melocoton")
print(frutas)
frutas[1].append("Otro melocoton")

['Manzanas', ('Naranjas', 'Limones'), 'Fresas', 'Melocoton']

AttributeError: 'tuple' object has no attribute 'append'

In [65]:
mi_tupla_tolist = list(mi_tupla)
print(mi_tupla_tolist)

['Naranjas', 'Limones']

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de tuplas</h3>


<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

In [84]:
tupla_1 = ("4",)
print(type(tupla_1))

<class 'tuple'>

In [85]:
tupla_2 = ("2","8","5")

In [88]:
list_1 = list(tupla_1)
print(list_1)

['4']

In [89]:
list_1.append(tupla_2)
print(list_1)

['4', ('2', '8', '5')]

In [87]:
list_1 = list_1 + list(tupla_2)
print(list_1)
tuple_1 = tuple(list_1)
print(tuple_1)

['4', '2', '8', '5']
('4', '2', '8', '5')

In [90]:
tuple_3 = tuple_1[0:2]
print(tuple_3)

('4', '2')

## 3. Diccionarios
En este tipo de colecciones no solo podemos agrupar datos, sino que tenemos la posibilidad de establecer una relación entre los mismos, con la forma **clave: valor**.

La sintaxis  es mediante llaves `{}`

> nombre_diccionario = {clave1: valor1, clave2: valor2, clave3: valor3}

Si veíamos que las listas son elementos mutables y y ordenadas, y las tuplas inmutables y ordenadas, los diccionarios son:

* **Mutables**: podemos modificar sus elementos
* **Desordenado**: la potencia de acceso de los diccionarios es su formato clave-valor, no su orden. Aun así, el dicionario conserva el orden de los elemento según los vamos insertando.

Vamos a declarar un diccionario en el que definiremos elementos de un coche

In [54]:
lista_coche = ["Gris", "VW", 1500, True]
print(lista_coche[0])

Gris

In [55]:
coche = {"color": "Gris", # Diccionario siempre entre llaves ¨{}
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True}
coche

{'color': 'Gris', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True}

In [56]:
print(type(coche))

<class 'dict'>

In [57]:
coche["color"] # Para preguntar siempre entre corchetes

'Gris'

In [58]:
coche = {"color": "Gris",
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True,
        (1,5): {"Hola": [1,3]}}

In [59]:
list(coche.keys())

['color', 'marca', 'peso', 'Cambio automatico', (1, 5)]

In [30]:
libro = {"título": "100 años de soledad", "autor":"G.G Marquez", "año":"1060"}
libro

{'título': '100 años de soledad', 'autor': 'G.G Marquez', 'año': '1060'}

In [31]:
libro2 = {"título": "Pilares de la tierra", "autor":"Ken Follet", "año":"1060"}
libro2

{'título': 'Pilares de la tierra', 'autor': 'Ken Follet', 'año': '1060'}

In [32]:
biblioteca = [libro, libro2]
biblioteca

[{'título': '100 años de soledad', 'autor': 'G.G Marquez', 'año': '1060'},
 {'título': 'Pilares de la tierra', 'autor': 'Ken Follet', 'año': '1060'}]

In [33]:
print(libro)
libro["autor"] = "otro autor"
print(libro)

{'título': '100 años de soledad', 'autor': 'G.G Marquez', 'año': '1060'}
{'título': '100 años de soledad', 'autor': 'otro autor', 'año': '1060'}

In [60]:
coche[(1,5)]['Hola'][1]

3

Se puede almacenar todo tipo de datos: numero, cadena, booleano, listas, tuplas, diccionarios...

Cuando declaremos el diccionario, lo podemos hacer en una sola linea `coche = {"color"="Gris", "marca"...}`, aunque se recomienda por sencillez a la hora de leer el código, realizar esta acción en varias líneas. Si escribimos el primer elemento y presionamos enter, Jupyter introduce automáticamente la tabulación.

### Acceso, modificación, añadir, eliminar

In [61]:
coche

{'color': 'Gris',
 'marca': 'VW',
 'peso': 1500,
 'Cambio automatico': True,
 (1, 5): {'Hola': [1, 3]}}

In [62]:
coche['color'] = coche['color'] + " Blanco"
print(coche)

{'color': 'Gris Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}

In [63]:
# Acceso
print(coche['Cambio automatico'])

# Modificar
coche['color'] = "Blanco"
print(coche)

# Añadir
coche['puertas'] = 4
print(coche)

# Eliminar
# del coche['puertas']
print(coche.pop('puertas'))
print(coche)

True
{'color': 'Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}
{'color': 'Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}, 'puertas': 4}
4
{'color': 'Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}

In [64]:
print(list(coche.keys())) 
print(list(coche.values()))

['color', 'marca', 'peso', 'Cambio automatico', (1, 5)]
['Blanco', 'VW', 1500, True, {'Hola': [1, 3]}]

In [68]:
for clave in coche.keys():
    print(coche[clave])
    if clave == "color":
        coche[clave] = "Rojo"

print(coche)

Blanco
VW
1500
True
{'Hola': [1, 3]}
{'color': 'Rojo', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}

In [71]:
coche["color"] = "verde"
print(coche)

{'color': 'verde', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}

In [67]:
print(list(coche.values()))

['Blanco', 'VW', 1500, True, {'Hola': [1, 3]}]

In [73]:
print(list(coche.items())) # Nos lo devuelve una lista de tuplas, para poder recorrerlo

[('color', 'verde'), ('marca', 'VW'), ('peso', 1500), ('Cambio automatico', True), ((1, 5), {'Hola': [1, 3]})]

In [75]:
for clave,valor in coche.items():
    print("La clave es", clave, "y el valor", valor)
    if clave == "peso":
        coche["peso"] = 2000 #Así se cambia dentro del ford con .items

print(coche)

La clave es color y el valor verde
La clave es marca y el valor VW
La clave es peso y el valor 2000
La clave es Cambio automatico y el valor True
La clave es (1, 5) y el valor {'Hola': [1, 3]}
{'color': 'verde', 'marca': 'VW', 'peso': 2000, 'Cambio automatico': True, (1, 5): {'Hola': [1, 3]}}

In [76]:
# AÑADIR CAMPOS
coche["puertas"] = 4
coche["precio"] = 20000
coche

{'color': 'verde',
 'marca': 'VW',
 'peso': 2000,
 'Cambio automatico': True,
 (1, 5): {'Hola': [1, 3]},
 'puertas': 4,
 'precio': 20000}

Para más detalle de los métodos de los diccionario puedes [consultar la documentación](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [119]:
# Podemos empezar tambien mediante un diccionario vacío
tienda = {}
tienda['Direccion'] = ["Avenida 1", "Avenida 2"]
tienda['Tamaño'] = [110, 90]
print(tienda)

{'Direccion': ['Avenida 1', 'Avenida 2'], 'Tamaño': [110, 90]}

In [120]:
lista_total = ["Avenida 1", "Avenida 2"] + [110, 90]
print(lista_total)

['Avenida 1', 'Avenida 2', 110, 90]

In [121]:
my_dict = {}

for i, elem in enumerate(lista_total):
    my_dict[i] = elem

print(my_dict)

{0: 'Avenida 1', 1: 'Avenida 2', 2: 110, 3: 90}

In [122]:
my_dict = {}

for i, elem in enumerate(lista_total):
    if i < 2:
        my_dict['Dirección'] = elem
    else:
        my_dict['Tamaño'] = elem

print(my_dict)

{'Dirección': 'Avenida 2', 'Tamaño': 90}

In [160]:
print(my_dict[3])
print(lista_total[3])

90
90

In [77]:
lista = ["rojo", "verde", "blanco", "gris"]
diccionario = {}

for indice, valor in enumerate(lista):
    print(indice, valor)
    diccionario[indice] = valor 

diccionario

0 rojo
1 verde
2 blanco
3 gris

{0: 'rojo', 1: 'verde', 2: 'blanco', 3: 'gris'}

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en diccionarios</h3>
         
 </td></tr>
</table>

Si hay una clave que no existe en el diccionario, saltará un error.

En este caso, el error es bastante intuitivo: `KeyError`, no encuentra la clave

In [79]:
coche = {"color": "Gris",
        "marca": "VW"}
coche["peso"] = 1500
print("Hola")

Hola

**¿Cómo solventar esto?** Sirmpre tienes la opción de usar el bloque `try/except`, pero en este caso, los diccionarios tienen una solución más elegante: `get(clave, valor si no existe)`

In [84]:
# coche['peso'] = 500

In [124]:
print(coche)

{'color': 'Gris', 'marca': 'VW'}

In [126]:
a = coche.get("peso", "No hay clave de peso")
print(a)
print("Hola")

No hay clave de peso
Hola

In [127]:
a = coche.get("ruedas", False)
if a == False:
    print("No hay ruedas")

No hay ruedas

### Iterar
Que el diccionario no esté ordenado, no quiere decir que no podamos iterar sus elementos, ya que también es un **interable**, como los son las listas o las tuplas.

In [81]:
coche = {"color": "Gris",
        "marca": "VW"}

for clave in coche: #.keys aunque no lo pongas en un for hace lo mismo.
    print(clave, coche[clave])

color Gris
marca VW

In [134]:
for i in coche.values():
    print(i)

Gris
VW

In [129]:
for clave, valor in coche.items():
    print(clave, valor)

color Gris
marca VW

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de diccionarios</h3>


<ol>
    <li>Crea un diccionario con las caracteristicas de un televisor: tamaño(float), smarttv(bool) y marca(str)</li>
    <li>Añade otra característica del tv</li>
    <li>Modifica una de ellas</li>
    <li>Imprime por pantalla sus claves, valores.</li>
</ol>
         
 </td></tr>
</table>

In [82]:
tv_1 = {"Tamaño": 55.6, "Smarttv": True, "Marca": "Samsung"}

In [83]:
tv_1["color"] = "azul"

In [84]:
tv_1

{'Tamaño': 55.6, 'Smarttv': True, 'Marca': 'Samsung', 'color': 'azul'}

In [85]:
tv_1["Smarttv"] = False
tv_1

{'Tamaño': 55.6, 'Smarttv': False, 'Marca': 'Samsung', 'color': 'azul'}

In [91]:
for i in tv_1: #.keys aunque no lo pongas en un for hace lo mismo.
    print(i, ":", tv_1[i])

Tamaño : 55.6
Smarttv : False
Marca : Samsung
color : azul

In [87]:
for i in tv_1.keys():
    print(i)
    
for i in tv_1.values():
    print(i)

Tamaño
Smarttv
Marca
color
55.6
False
Samsung
azul

### **Biblioteca**
##### 1. Inicializar una biblioteca con 3 libros, para cada uno de ellos_ titulo, autor, año
##### 2. Hacer un menu de usuario con las siguientes opciones:
##### 2.1 Imprimir biblioteca
##### 2.2 Buscar libro por título e imprimir su info.
##### 2.3 Añadir libro: El usuario tiene que meter la información mediante input (título, autor, año)
##### 2.4 Eliminar libro: Borrar el libro (buscado por autor) de la biblioteca

In [5]:
book1 = { "titulo" : "El nombre del viento", "autor" : "Patrick Rothfuss", "año" : 2007}
book2 = { "titulo" : "Memorias de Idhun I", "autor" : "Laura Gallego", "año" : 2002}
book3 = { "titulo" : "Normal people", "autor" : "Sally Rooney", "año" : 2018}

mi_biblioteca = [book1, book2,book3]
# Lista de diccionarios

In [147]:
mi_biblioteca

[{'titulo': 'El nombre del viento', 'autor': 'Patrick Rothfuss', 'año': 2007},
 {'titulo': 'Memorias de Idhun I', 'autor': 'Laura Gallego', 'año': 2002},
 {'titulo': 'Normal people', 'autor': 'Sally Rooney', 'año': 2018}]

In [8]:
# Buscar libro
buscar_libro = "El nombre del viento" # Esto cambia 

for libro in mi_biblioteca:
    if libro["titulo"] == buscar_libro:
        print(libro)

{'titulo': 'El nombre del viento', 'autor': 'Patrick Rothfuss', 'año': 2007}

In [10]:
# Imprimir lista con índice

for indice,libro in enumerate(mi_biblioteca): 
    print(indice +1, libro)

1 {'titulo': 'El nombre del viento', 'autor': 'Patrick Rothfuss', 'año': 2007}
2 {'titulo': 'Memorias de Idhun I', 'autor': 'Laura Gallego', 'año': 2002}
3 {'titulo': 'Normal people', 'autor': 'Sally Rooney', 'año': 2018}

In [12]:
# Añadir libro
import pprint # Pretty print. Formato más agradable.
nuevo_libro = {}

add_titulo = input("Escribe el título del libro:")
nuevo_libro["titulo"] = add_titulo

add_autor = input("Escribe el nombre del autor:")
nuevo_libro["autor"] = add_autor

add_año = input("Escribe el año de la publicación:")
nuevo_libro["año"] = int(add_año)

mi_biblioteca.append(nuevo_libro)
pprint.pprint(mi_biblioteca)

[{'autor': 'Patrick Rothfuss', 'año': 2007, 'titulo': 'El nombre del viento'},
 {'autor': 'Laura Gallego', 'año': 2002, 'titulo': 'Memorias de Idhun I'},
 {'autor': 'Sally Rooney', 'año': 2018, 'titulo': 'Normal people'},
 {'autor': 'Tolkien', 'año': 1940, 'titulo': 'El Hobbit'},
 {'autor': 'Teo', 'año': 2007, 'titulo': 'Teo'}]

In [140]:
mi_biblioteca

[{'titulo': 'El nombre del viento', 'autor': 'Patrick Rothfuss', 'año': 2007},
 {'titulo': 'Memorias de Idhun I', 'autor': 'Laura Gallego', 'año': 2002},
 {'titulo': 'Normal people', 'autor': 'Sally Rooney', 'año': 2018},
 {'titulo': 'El Hobbit', 'autor': 'J. R. R. Tolkien', 'año': '1937'}]

In [13]:
# Eliminar libro

eliminar_autor = input("Escribe el nombre del autor del libro que quieres eliminar: ")
for libro in mi_biblioteca:
    if libro["autor"].lower() == eliminar_autor.lower():
        mi_biblioteca.remove(libro)
        print("Has eliminado el libro con éxito")

pprint.pprint(mi_biblioteca)

Has eliminado el libro con éxito
[{'autor': 'Patrick Rothfuss', 'año': 2007, 'titulo': 'El nombre del viento'},
 {'autor': 'Laura Gallego', 'año': 2002, 'titulo': 'Memorias de Idhun I'},
 {'autor': 'Sally Rooney', 'año': 2018, 'titulo': 'Normal people'},
 {'autor': 'Teo', 'año': 2007, 'titulo': 'Teo'}]

In [14]:
pregunta = input("¡Hola!, ¿qué quieres hacer? imprimir biblioteca, buscar libro, añadir libro o borrar libro: ")

if pregunta.lower() == "imprimir biblioteca": # Imprimir todos los libros en la biblioteca
    print("Mi biblioteca:")
    for libro in mi_biblioteca:
        print(libro)
    
elif pregunta.lower() == "buscar libro": # Buscar un libro por el autor
    buscar_autor = input("Introduce el nombre del autor:")
    encontrado = False
    for libro in mi_biblioteca:
        if libro["autor"].lower() == buscar_autor.lower():
            print("Libro encontrado:", libro)
            encontrado = True
            break
    
    if not encontrado:
        print("No se encontró un libro del autor especificado.")
    
elif pregunta.lower() == "añadir libro": # Añadir un nuevo libro a la biblioteca
    nuevo_libro = {}

    add_titulo = input("Escribe el título del libro:")
    nuevo_libro["titulo"] = add_titulo

    add_autor = input("Escribe el nombre del autor:")
    nuevo_libro["autor"] = add_autor

    add_año = input("Escribe el año de la publicación:")
    nuevo_libro["año"] = add_año

    mi_biblioteca.append(nuevo_libro)
    print("Libro añadido con éxito.")
    print("Biblioteca actualizada:", mi_biblioteca)
    
elif pregunta.lower() == "borrar libro": # Borrar un libro basado en el autor
    eliminar_autor = input("Escribe el nombre del autor del libro que quieres eliminar: ")
    #libro_eliminado = False
    for libro in mi_biblioteca:
        if libro["autor"].lower() == eliminar_autor.lower(): # Todo debajo del if si lo valida se ejecuta todo lo que hay debajo
            mi_biblioteca.remove(libro)
            #libro_eliminado = True
            print("Has eliminado el libro con éxito.")
            #break

    if not libro_eliminado:
        print("No se encontró un libro del autor especificado.")
    
else: 
    print("Opción no válida. Por favor, elige una opción correcta.")

NameError: name 'buscar_autor' is not defined

In [155]:
# input menu ESTA MAL, no se puede usar así. NO SE PUEDE USAR EL INPUT COMO VALOR O CONDICIÓN.

input("¡Hola!, ¿qué quieres hacer? imprimir biblioteca, buscar libro, añadir libro o borrar libro")

if input == "imprimir biblioteca":
    print(mi_biblioteca)
    
elif input == "buscar libro":
    input = buscar_libro
    for libro in mi_biblioteca:
            if libro["autor"] == buscar_libro:
                print(libro)
    
elif input == "añadir libro":
    input = nuevo_libro = {}

    add_titulo = input("Escribe el título del libro:")
    nuevo_libro["titulo"] = add_titulo

    add_autor = input("Escribe el nombre del autor:")
    nuevo_libro["autor"] = add_autor

    add_año = input("Escribe el año de la publicación:")
    nuevo_libro["año"] = add_año

    mi_biblioteca.append(nuevo_libro)
    print(mi_biblioteca)
    
elif input == "borrar libro":
    eliminar_autor = input("Escribe el nombre del autor del libro que quieres eliminar: ")
    for libro in mi_biblioteca:
        if libro["autor"].lower() == eliminar_autor.lower():
            mi_biblioteca.remove(libro)
            print("Has eliminado el libro con éxito")
    
else: 
    print("Algo ha salido mal")

Algo ha salido mal

In [ ]:
input("¡Hola!, ¿qué quieres hacer? imprimir biblioteca, buscar libro, añadir libro o borrar libro")

In [135]:
tv = {"tamaño": 50.0,
      "smarttv": True,
      "marca": "Samsung"}
print(tv)
print(type(tv))

{'tamaño': 50.0, 'smarttv': True, 'marca': 'Samsung'}
<class 'dict'>

In [136]:
tv['precio'] = 800
print(tv)

{'tamaño': 50.0, 'smarttv': True, 'marca': 'Samsung', 'precio': 800}

In [137]:
tv['marca'] = "LG"
print(tv)

{'tamaño': 50.0, 'smarttv': True, 'marca': 'LG', 'precio': 800}

In [138]:
for i in tv:
    print(i, tv[i])

tamaño 50.0
smarttv True
marca LG
precio 800

In [139]:
for clave,valor in tv.items():
    print(clave, valor)

tamaño 50.0
smarttv True
marca LG
precio 800

## 4. Sets
Otra colección *bulit-in* de Python, compuesta por un conjunto de *claves*. Muy parecidos a los diccionarios. Tienen las siguientes características:
* **Mutables**: podemos modificarlos una vez se hayan creado
* **No ordenados**
* **Elementos únicos**: se compone de un conjunto de claves únicas

**¿Cuándo usar sets?** Cuando estemos buscando unicidad en nuestros datos y no nos importe el orden.

Te dejo por aquí [la documentación](https://docs.python.org/2/library/sets.html) para realizar consultas sobre los sets

Su sintaxis es:
>```Python
> mi_set = {elemento1, elemento2, elemento3}
>```

Tiene una sintaxis muy parecida a la de los diccionarios, pero en este caso no se utilizan los `:`.

In [140]:
colores = {"rojo", "azul", "blanco"}
print(colores)

colores2 = {"rojo", "azul", "blanco", "rojo"}
print(colores2)

len(colores2)

{'blanco', 'azul', 'rojo'}
{'blanco', 'azul', 'rojo'}

3

Los elementos del set son unicos, por lo que si en la declaración, o posteriormente añadiendo elementos hubiese algún duplicado, el set lo ignoraría. Es más, cuando aplicas el `len`, muestra la cantidad de valores únicos que tiene.

In [92]:
dias = {'dia', 4}
print(dias)

dias = set()
dias.add("Lunes")
dias.add("Martes")
print(dias)

dias.remove("Martes")
print(dias)

#print("Lunes" in dias)
#print("Viernes" not in dias)

for i in dias:
    print(i)

{'dia', 4}
{'Martes', 'Lunes'}
{'Lunes'}
Lunes

Para comprobar si dos sets tienen los mismos elementos

In [97]:
lista = [1,2,3,5]
lista[1]

2

In [107]:
set1 = {1,3,5,1,7,6,1,3}
set2 = {5,1,3,7,6}

set1 == set2

True

In [108]:
set2.pop()
print(set2)

{3, 5, 6, 7}

In [101]:
print(set1)
print(set2)

{1, 3, 5, 6, 7}
{1, 3, 5, 6, 7}

In [109]:
if 1 in set1:
    print("hay un 1")

hay un 1

In [194]:
set1 = {1,3,5,1,7,6,1,3}
set2 = {5,1,3,10}

print(set1)
print(set2)
print('-'*10)

print(set1 & set2) # and
print(set1 | set2) # or
print(set1 - set2) 
print(set2 - set1)

{1, 3, 5, 6, 7}
{1, 10, 3, 5}
----------
{1, 3, 5}
{1, 3, 5, 6, 7, 10}
{6, 7}
{10}

## 5. Conversiones entre colecciones

### De lista

In [110]:
list_1 = [1,2,3,3,3,3,3,3,3]
print(list_1)

# A tupla
tuple_1 = tuple(list_1)
print(tuple_1)

# A set
print(set(list_1))

[1, 2, 3, 3, 3, 3, 3, 3, 3]
(1, 2, 3, 3, 3, 3, 3, 3, 3)
{1, 2, 3}

### De Tupla

In [111]:
tupla_1 = (1,2,3)
print(tupla_1)

# A lista
print(list(tupla_1))

# A set
print(set(tupla_1))

# A diccionario
lista_tuplas = [("Ciudad", "Madrid"), ("Tiempo", "nublado")]
print(dict(lista_tuplas))

(1, 2, 3)
[1, 2, 3]
{1, 2, 3}
{'Ciudad': 'Madrid', 'Tiempo': 'nublado'}

In [112]:
tupla = (1,2,2,3,3,4)
my_dict = {}
for i, elem in enumerate(tupla):
    my_dict[i] = elem

print(my_dict)

{0: 1, 1: 2, 2: 2, 3: 3, 4: 3, 5: 4}

### De diccionario

In [93]:
tupla_dict = [("Ciudad", "Madrid"), ("Tiempo", "nublado")]
dict_1 = dict(tupla_dict)
#print(dict_1)

# A lista
print(list(dict_1))

# A tupla
#print(tuple(dict_1))

# A set
#print(set(dict_1))


# A lista
#print(list(dict_1.items()))

# A tupla
#print(tuple(dict_1.items()))

# A set
#print(set(dict_1.items()))

['Ciudad', 'Tiempo']

In [114]:
mi_list = []

for clave, valor in dict_1.items():
    mi_list.append(clave)
    mi_list.append(valor)

mi_list

['Ciudad', 'Madrid', 'Tiempo', 'nublado']

In [115]:
mi_list = []

for i in dict_1:
    mi_list.append(i)
    mi_list.append(dict_1[i])

mi_list

['Ciudad', 'Madrid', 'Tiempo', 'nublado']

In [116]:
for i in dict_1:
    print(i)
for i in dict_1.keys():
    print(i)
for i in list(dict_1):
    print(i)

Ciudad
Tiempo
Ciudad
Tiempo
Ciudad
Tiempo

Se queda únicamente con las claves, y perdemos los valores. Para no perder la informacion:

In [117]:
print(dict_1.keys())
print(dict_1.values())
print(dict_1.items())

dict_keys(['Ciudad', 'Tiempo'])
dict_values(['Madrid', 'nublado'])
dict_items([('Ciudad', 'Madrid'), ('Tiempo', 'nublado')])

### De Set

In [125]:
set_1 = {1,2,3}
print(set_1)

print(list(set_1))
print(tuple(set_1))

{1, 2, 3}
[1, 2, 3]
(1, 2, 3)

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversiones</h3>
         
 </td></tr>
</table>

El diccionario suele dar problemas cuando intentamos realizar conversiones entre colecciones, ya que es la estrutura más compleja.

In [118]:
mi_tupla = (1,2,3)
dict(mi_tupla)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## 6. Comprensión de listas

Las listas pueden crearse también por comprensión (en inglés, *comprehension*). Esto tiene mucha relación con la definición de conjuntos por comprensión de las matemáticas. Sea por ejemplo, en matemáticas esta expresión:
$$ S = \{x^2 |\ x \in [3, 7), x \  impar\}$$
Esta expresión define un conjunto $ S = \{9, 25\}$, puesto que el intervalo es abierto por la derecha, con lo que solo comprende los números 3, 4, 5 y 6, pero la condición dice que solo tengamos en cuenta los impares, es decir, 3 y 5, y la expresión del principio dice que tomemos los cuadrados. Recordando que para saber si un número es par o impar usamos en Python el operador módulo (`%`), esto se puede escribir (definiendo una lista `s` en lugar de un conjunto) como:

In [143]:
list_comp = []
for x in range(3,7):
    if x % 2 == 1:
        list_comp.append(x**2)

print(list_comp)

[9, 25]

In [144]:
list_comp = [x**2 for x in range(3, 7) if x % 2 == 1]
print(list_comp)

[9, 25]

In [145]:
list_comp = [x**2 if x % 2 == 1 else x for x in range(3, 7)]
print(list_comp)

[9, 4, 25, 6]

In [146]:
list_comp = [x + "-encontrada" for x in "Hola mundo" if x == "o"]
list_comp

['o-encontrada', 'o-encontrada']

Si tenemos un trozo de código que define una lista de este tipo:
``` python
nueva_lista = []
for e in vieja_lista:
    if filtro(e):
        nueva_lista.append(transformacion(e))
```
Se puede escribir, usando comprensión, como:
```python
nueva_lista = [transformacion(e) for e in vieja_lista if filtro(e)]
```

La definición de listas por comprensión es muy cómoda, compacta y expresiva. No obstante, no debemos abusar de ella; si la expresión que escribimos es muy compleja se puede volver muy difícil de leer. En ese caso sería preferible la definición "clásica" de la lista.

Vamos a ver esto con un ejemplo. Supongamos una lista de `edades`, de la que queremos obtener una nueva lista, `mayores_edad` con las que sean mayores o iguales que 21. Escribiríamos:

In [147]:
edades = [19, 20, 18, 21, 19, 25, 16]
print(edades)
mayores_edad = [x for x in edades if x >= 18]
print(mayores_edad)

[19, 20, 18, 21, 19, 25, 16]
[19, 20, 18, 21, 19, 25]

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio list comprehension</h3>

Prueba a definir una lista temperaturas_menores, a partir de la lista temperaturas, con temperaturas menores que 27 grados, guardando los valores con un redondeo de 0 decimales.
         
         temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]
         
 </td></tr>
</table>

In [148]:
temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]

In [150]:
temperaturas_menores = []

for x in temperaturas:
    if x < 27:
        temperaturas_menores.append(round(x))

print(temperaturas_menores)

[25, 25, 25, 27]

In [151]:
temperaturas_menores = [round(x) for x in temperaturas if x < 27]
print(temperaturas_menores)

[25, 25, 25, 27]

In [3]:
lista1 = [3, 4, 5, 6, 7]
lista2 = lista1.copy()
lista1.pop()
print(lista1)
print(lista2)

[3, 4, 5, 6]
[3, 4, 5, 6, 7]

In [6]:
dict1 = {"a":0, "b":1}
dict2 = dict1.copy()
dict1["e"] = 3
print(dict2)
print(dict1)

{'a': 0, 'b': 1}
{'a': 0, 'b': 1, 'e': 3}

In [9]:
lista = [4, 5, 6, 7, 8, 9]

def aniade_elemento(a, elemento):
    a.append(elemento)

aniade_elemento(lista, 14)
print(lista)

[4, 5, 6, 7, 8, 9, 14]

In [10]:
lista_de_diccionarios = [dict1, dict2]
lista_de_diccionarios

[{'a': 0, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}]

In [11]:
lista_de_diccionarios_copia = lista_de_diccionarios.copy()
lista_de_diccionarios_copia

[{'a': 0, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}]

In [13]:
lista_de_diccionarios.append({"b": 0, "c": 1, "d": 10})

In [15]:
print(lista_de_diccionarios)
print(lista_de_diccionarios_copia)

[{'a': 0, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}, {'b': 0, 'c': 1, 'd': 10}, {'b': 0, 'c': 1, 'd': 10}]
[{'a': 0, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}]

In [16]:
lista_de_diccionarios[0]["a"] = 1000

In [17]:
print(lista_de_diccionarios)
print(lista_de_diccionarios_copia) # El .copy te hace una copia de la lista, pero no te hace una copia del diccionario. [a,b]

[{'a': 1000, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}, {'b': 0, 'c': 1, 'd': 10}, {'b': 0, 'c': 1, 'd': 10}]
[{'a': 1000, 'b': 1, 'e': 3}, {'a': 0, 'b': 1}]

In [20]:
# Para eliminar este problema
import copy
lista_de_diccionarios_copia_profunda = copy.deepcopy(lista_de_diccionarios)
lista_de_diccionarios[0]["d"] = 8
print(lista_de_diccionarios_copia_profunda)

[{'a': 1000, 'b': 1, 'e': 3, 'd': 8}, {'a': 0, 'b': 1}, {'b': 0, 'c': 1, 'd': 10}, {'b': 0, 'c': 1, 'd': 8}]

## 7. Resumen

In [ ]:
# Listas
print("Listas")
nums = [6, 2, 8, 3, 4, 5, 5]

# Tamaño
print(len(nums))

# Acceso
print(nums[2])
print(nums[-1])

# Acceso por indice
print(nums.index(5))
nums.append('numeros')
print(nums)

# Eliminar
nums.remove("numeros")
print(nums)

# Ordenar
nums.sort()
print(nums)

# Tamaño de la lista
print(len(nums))

# Invertir el orden
nums.reverse()
print(nums)

# Ocurrencia de un valor
print(nums.count(22))

In [ ]:
# Tuplas
primera_tupla = (3, "text")

# Anidacion de tuplas
tupla_anid = (1, 2, 3, ("A", "B", "C"))
print(tupla_anid)

# El acceso es como en las listas
print(tupla_anid[0])

# Tambien son elementos iterables
for i in tupla_anid:
    print(i)
    
# El slicing también funciona igual
print(tupla_anid[0:2])

# Longitud de la tupla
print(len(tupla_anid))

In [ ]:
# Diccionario
coche = {"color": "Gris",
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True}

print(coche)

coche = {"color": "Gris",
        "marca": "VW"
        }

for i in coche: # Esta recorriendo las claves
    print(i) # Imprimimos la clave
    print(coche[i]) # Imprimimos el valor
    
# Otra menera de recorrer los elementos
for clave, valor in coche.items():
    print(clave, valor)

In [ ]:
# Sets
colores = {"rojo", "azul", "blanco"}
print(colores)

# Mira lo que ocurre cuando ponemos duplicados
colores2 = {"rojo", "azul", "blanco", "rojo"}
print(colores2)

# El len tambien funciona aqui
len(colores2)

# Crear un set vacio. No se crea con {}, ya que si no, sería un diccionario.
dias = set()
print(dias)

# Añadir elementos
dias.add("Lunes")
dias.add("Martes")
dias.add("Miercoles")
print(dias)

# Eliminar elementos
dias.remove("Miercoles")
print(dias)

# Buscar elementos
print("Lunes" in dias)
print("Viernes" not in dias)

# Tambien es un iterable
for i in dias:
    print(i)